.feed {
    background-color: #f3f6f8;
    width: 100%;
}

.subscription-container {
     /* max-width: 600px; */
    /* width: 90%; */
    max-width: 1320px;
    padding: 2rem;
    background-color: #f3f6f8;
    text-align: left;
    border-radius: 8px;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
}

.subscription-container h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.subscription-container p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.subscription-container input {
    width: 100%;
    outline: none;
    padding: 0.8rem;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    background: none;
    font-size: 3vmin;
    color: black;
    margin-bottom: 1rem;
    border: 0px 0px 0px 0px red;
    border-top: white;
    border-left: aliceblue;
    border-right: aliceblue;
}
.subscription-container button {
    padding: 0.8rem 2rem;
    border: 2px solid #333;
    border-radius: 30px;
    background-color: transparent;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.subscription-container button:hover {
    background-color: #333;
    color: #fff;
}

/* Responsive styling */
@media (max-width: 768px) {
    .subscription-container {
        padding: 1.5rem;
    }

    .subscription-container h1 {
        font-size: 1.3rem;
    }

    .subscription-container p {
        font-size: 0.9rem;
    }

    .subscription-container input[type="email"],
    .subscription-container button {
        font-size: 0.9rem;
    }
}